.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.7rem;
  gap: var(--_spacer);
  text-decoration: none;
  color: white;
}
.movie-card img:hover {
  background-color: rgba(255, 255, 255, 0.656);
  padding: 0.1rem;
}

.movie-card img {
  transition: 0.7s ease;
  height: 16rem;
  width: 12rem;
  min-height: 10rem;
  min-width: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

.movie__card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.movie__card-detail h6 {
  margin: 0.3rem 0;
}

@media (max-width: 1000px) {
  .movie-card img {
    width: 14rem;
    height: 21rem !important;
  }
}
