.arrow {
  position: absolute;
  top: 38%;
  color: white;
  background: none;
  border: none;
  font-size: 2.5em;
  cursor: pointer;
}

.left-arrow {
  left: -4.2vw;
}

.right-arrow {
  right: -4.2vw;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media ((max-width: 1000px)) {
  .left-arrow {
    left: -10vw;
  }

  .right-arrow {
    right: -10vw;
  }
}

@media ((max-width: 600px)) {
  .arrow {
    font-size: 2em;
  }

  .left-arrow {
    left: -13vw;
  }

  .right-arrow {
    right: -13vw;
  }
}
